{% extends "base.html" %}
{% block main_content %}
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/sample">Samples</a></li>
                <li class="breadcrumb-item active"><a href="">{{ sample.name }}</a></li>
            </ol>
        </nav>
        <h1>{{ sample.name }}</h1>
        <ul>
            <li>SN: {{ sample.serial_number }}</li>
            <li>Name: {{ sample.name }}</li>
            <li>Arrival date: {{ sample.arrival_date }}</li>
            <li>Content: {{ sample.content }}</li>
            <li>Comments: {{ sample.comments }}</li>
            <li>Category: {{ sample.category }}</li>
        </ul>
    </div>
{% endblock %}